/* 头部导航栏  */
#headNav-box {
    width: 100%;
    height: 36px;
    background: #333;
}
#headNav-box .headNav {
    width: 1090px;
    margin: 0 auto;
}
#headNav-box .headNav .headcontent {
    float: right;
}
#headNav-box .headNav .headcontent li {
    float: left;
    cursor: pointer;
}
#headNav-box .headNav .headcontent li:nth-child(5),
#headNav-box .headNav .headcontent li:nth-child(6) {
    position: relative;
}
#headNav-box .headNav .headcontent li a {
    margin-top: 10px;
    text-decoration: none;
    color: #ccc;
    font-size: 12px;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    padding: 0 10px;
    border-right: 1px solid #5c5c5c;
    vertical-align: middle;
}
#headNav-box .headNav .headcontent li a span {
    font-size: 12px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    color: #ccc;
}
#headNav-box .headNav .headcontent li:last-child {
    padding-left: 12px;
    background: url(../img/icon.png) no-repeat 8px 14px;
}

.headcontent .small-erji {
    background: white;
    width: 83px;
    position: absolute;
    top: 36px;
    left: 4px;
    z-index: 11;
    border: 1px solid #ddd;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    display: none;
}
.headcontent .small-erji span {
    position: absolute;
    border: 10px solid;
    height: 0;
    width: 0;
    top: -20px;
    left: 30px;
    border-color: transparent transparent white transparent;
}
.headcontent .small-erji .small-ul {
    width: 63px;
    z-index: 11;
    padding: 0 10px;
}
.headcontent .small-erji .small-ul li {
    color: #ccc;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 38px;
    height: 38px;
    width: 60px;
}
.headcontent .small-erji .small-ul li:nth-last-child(1) {
    border: none;
}

/*头部搜索加logo图片  */
#headersearch {
    width: 100%;
    height: 120px;
}
#headersearch header {
    margin: 0 auto;
    width: 1090px;
    height: 120px;
}
#headersearch header .header-Left {
    float: left;
    width: 362px;
    height: 60px;
    background: url(../img/icon.png) no-repeat 4px -300px;
    margin-top: 24px;
}
#headersearch header .header-Center {
    float: left;
    margin-top: 30px;
}
#headersearch header .cart-Icon {
    position: relative;
    float: right;
    width: 134px;
    height: 38px;
    border: 1px solid #cc9756;
    margin-top: 32px;
    margin-left: 49px;
    cursor: pointer;
    border-radius: 19px;
    text-align: center;
    font-size: 14px;
    line-height: 38px;
    color: #cc9756;
    background: url(../img/icon.png) no-repeat 15px -138px;
}
#headersearch header .cart-Icon .num {
    position: absolute;
    display: inline-block;
    height: 19px;
    width: 19px;
    background: url(../img/icon.png) no-repeat 0px -21px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    top: 8px;
    left: 98px;
}

.header-Center .search {
    width: 430px;
    height: 34px;
    border: 1px solid #cc9756;
    border-bottom-left-radius: 19px;
    border-top-left-radius: 19px;
    float: left;
    background: url(../img/icon.png) no-repeat 18px -508px;
    position: relative;
}
.header-Center .search input {
    margin-left: 42px;
    height: 34px;
    width: 280px;
    border: none;
    background: transparent;
    outline: none;
    font-size: 14px;
}
.header-Center .search ul {
    top: 35px;
    left: 20px;
    width: 410px;
    position: absolute;
    background: white;
    z-index: 11;
}
.header-Center .search ul li {
    font-size: 13px;
    line-height: 26px;
    cursor: pointer;
    padding: 0 12px 0 10px;
}
.header-Center .search ul li:hover {
    color: #b4a078;
    background-color: #f8f5f0;
}
.header-Center .btn {
    width: 90px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background-color: #cc9756;
    float: left;
    border: 1px solid #cc9756;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    color: #fff;
    font-size: 16px;
    margin-top: -0px;
    margin-left: -5px;
}
.header-Center .btn:hover {
    background-color: #e2c199;
}
.header-Center p {
    margin-top: 44px;
    margin-left: 20px;
}
.header-Center p a {
    display: inline-block;
    height: 12px;
    font-size: 12px;
    color: #cc9756;
    cursor: pointer;
    text-decoration: none;
}
.header-Center p a:first-child {
    border-right: 1px solid #ccc;
    padding-right: 5px;
}
.header-Center p a:nth-child(2) {
    border-right: 1px solid #ccc;
    padding-right: 5px;
}
.header-Center p a:nth-child(3) {
    border-right: 1px solid #ccc;
    padding-right: 5px;
}

/* 下拉列表 */
#header-Nav-box {
    width: 100%;
    background: white;
    position: relative;
    z-index: 10;
}
#header-Nav-box .header-Nav {
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    width: 1090px;
}

.header-list {
    height: 30px;
}
.header-list li {
    float: left;
    padding: 0px 26px 0 26px;
}
.header-list li a {
    display: inline-block;
    font-size: 14px;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    padding-bottom: 7px;
}
.header-list li a:hover {
    color: #cc9756;
    border-bottom: 3px solid #cc9756;
}
.header-list li:first-child {
    padding: 0 26px 0 0;
}
.header-list li:first-child a {
    color: #cc9756;
    border-bottom: 3px solid #cc9756;
}
.header-list li:nth-child(10) {
    border-left: 1px solid #ccc;
    height: 14px;
    padding: 0px;
}
.header-list li:last-child {
    padding: 0 0 0 24px;
}

.menu {
    display: none;
    white-space: nowrap;
    position: absolute;
    height: 380px;
    top: 25px;
    padding: 14px 20px 20px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.menu .item {
    min-width: 1050px;
}
.menu .item ul {
    float: left;
    margin-right: 24px;
}
.menu .item ul:last-child {
    margin-right: 0px;
}
.menu .item li:first-child {
    max-width: 124px;
    width: 124px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    border-bottom: 1px solid #ddd;
}
.menu .item li {
    width: 124px;
    margin-bottom: 4px;
    font-weight: 400;
    line-height: 50px;
}
.menu .item li img {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.menu .item li span {
    display: inline-block;
    margin-left: 4px;
    font-size: 14px;
    vertical-align: middle;
    line-height: 1.2;
    cursor: pointer;
}
.menu .item li span:hover {
    color: #b4a078;
}

.footimg {
    width: 1090px;
    margin: 0 auto;
    padding-top: 50px;
    height: 249px;
}
.footimg .footerr,
.footimg .footercon,
.footimg .footerl {
    float: left;
    height: 204px;
    width: 33.3%;
    border-right: 1px solid #e9e9e9;
    text-align: center;
    cursor: pointer;
}
.footimg .footerr h4,
.footimg .footercon h4,
.footimg .footerl h4 {
    margin-bottom: 30px;
}
.footimg div:nth-child(1) {
    overflow: hidden;
}
.footimg div:nth-child(1) a {
    display: inline-block;
    width: 80px;
    height: 80px;
    padding-top: 20px;
    border: 1px solid #e8e8e8;
    vertical-align: top;
    margin-right: 20px;
}
.footimg div:nth-child(1) a:hover {
    color: #b4a078;
}
.footimg div:nth-child(1) a span {
    font-size: 12px;
    display: block;
    margin-top: 10px;
}
.footimg div:nth-child(1) a i {
    display: inline-block;
    width: 31px;
    height: 26px;
}
.footimg div:nth-child(1) a:nth-child(2) i {
    background: url(../img/icon5.png) no-repeat 0 -290px;
}
.footimg div:nth-child(1) a:nth-child(2):hover i {
    background: url(../img/icon5.png) no-repeat 0 -254px;
}
.footimg div:nth-child(1) a:nth-child(3) i {
    background: url(../img/icon5.png) no-repeat 0 -97px;
}
.footimg div:nth-child(1) a:nth-child(3):hover i {
    background: url(../img/icon5.png) no-repeat 0 -60px;
}
.footimg .footercon {
    width: calc(33% - 74px);
    padding: 0 37px;
}
.footimg .footercon p {
    font-size: 12px;
    line-height: 23px;
    margin-bottom: 22px;
}
.footimg .footercon .guanzhu {
    font-size: 12px;
}
.footimg .footercon .guanzhu span {
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}
.footimg .footercon .guanzhu div {
    display: inline-block;
    vertical-align: middle;
}
.footimg .footercon .guanzhu div i {
    display: inline-block;
    margin-right: 10px;
    height: 32px;
    width: 32px;
}
.footimg .footercon .guanzhu div i:nth-child(1) {
    background: url(../img/icon5.png) no-repeat 0 -470px;
}
.footimg .footercon .guanzhu div i:nth-child(2) {
    background: url(../img/icon5.png) no-repeat 0 -428px;
}
.footimg .footercon .guanzhu div i:nth-child(3) {
    background: url(../img/icon5.png) no-repeat 0 -326px;
}
.footimg div:nth-child(3) {
    border: none;
}
.footimg div:nth-child(3) img {
    width: 108px;
    height: 108px;
}
.footimg div:nth-child(3) p {
    color: #b4a078;
    margin-top: 3px;
    font-size: 12px;
}

footer {
    height: 250px;
    width: 100%;
    background-color: #414141;
}
footer .lastend {
    width: 1090px;
    overflow: hidden;
    padding-left: 17px;
    margin-bottom: 30px;
    margin: 0 auto;
    cursor: pointer;
}
footer .lastend-top {
    margin-top: 40px;
    color: white;
    border-bottom: 1px solid #4f4f4f;
    padding-bottom: 30px;
}
footer .lastend-top li {
    margin-right: 128px;
    font-size: 18px;
    line-height: 51px;
    display: inline-block;
    vertical-align: middle;
}
footer .lastend-top li span {
    vertical-align: middle;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../img/icon5.png) no-repeat;
    margin-right: 10px;
}
footer .lastend-top li p {
    display: inline-block;
    vertical-align: middle;
}
footer .lastend-top li:nth-child(1) {
    margin-left: 10px;
}
footer .lastend-top li:nth-child(1) span {
    background-position: 0 -134px;
}
footer .lastend-top li:nth-child(2) span {
    background-position: 0 -368px;
}
footer .lastend-top li:nth-child(3) span {
    background-position: 0 0;
}
footer .lastend-top li:nth-child(4) {
    margin: 0px;
}
footer .lastend-top li:nth-child(4) span {
    background-position: 0 -194px;
}
footer .lastend-bottom {
    text-align: center;
}
footer .lastend-bottom p {
    display: inline-block;
    color: #999;
    font-size: 12px;
    margin-top: 20px;
}
footer .lastend-bottom p span {
    margin: 0 20px;
}
footer .lastend-bottom div {
    font-size: 12px;
    color: #999;
}
footer .lastend-bottom div p:nth-child(1) {
    width: 1090px;
    text-align: left;
    position: relative;
    margin: 10px 0;
}
footer .lastend-bottom div p:nth-child(1) span {
    position: absolute;
    top: 0;
    right: -10px;
}
footer .lastend-bottom div p a {
    color: #999;
    margin-right: 15px;
    display: inline-block;
}
footer .lastend-bottom div p span {
    display: inline-block;
    margin-right: 15px;
}

#koubeibox {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f4f0ea;
  }
  #koubeibox .koubei {
    background: white;
    position: relative;
    margin: 0 auto;
    width: 1090px;
  }
  #koubeibox .koubei .paixu {
    width: 1090px;
    overflow: hidden;
    padding: 20px 0;
    line-height: 1;
    border-top: 1px dashed #dedede;
    border-bottom: 1px dashed #dedede;
  }
  #koubeibox .koubei .paixu span {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 28px;
    cursor: pointer;
    color: #999;
  }
  #koubeibox .koubei .paixu span:nth-child(2) {
    color: #b4a078;
  }
  #koubeibox .koubei .paixu span:nth-child(3) {
    color: #999;
  }
  
  #koubeibox .koubei h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 44px;
  }
  #koubeibox .koubei .koubei-content {
    overflow: hidden;
    width: 1080px;
    margin-left: 10px;
    margin-right: 10px;
  }
  #koubeibox .koubei .koubei-content ul{
      margin-left: 10px;
      background: green;
  }
  #koubeibox .koubei .koubei-content li {
    width: 260px;
    background: white;
    margin-right: 10px;
    float: left;
  }
  
  #koubeibox .koubei .koubei-content li:hover img:nth-child(2) {
    z-index: 0;
  }
  #koubeibox .koubei .koubei-content li:hover {
    background-color: #f4f0ea;
    /* background: orange; */
  }
  #koubeibox .koubei .koubei-content .product-Content-Top {
    height: 300px;
    position: relative;
  }
  #koubeibox .koubei .koubei-content .product-Content-Top img {
    position: absolute;
    z-index: 0;
    width: 200px;
    height: 200px;
    margin: 10px 0 0 30px;
  }
  #koubeibox .koubei .koubei-content .product-Content-Top img:nth-child(2) {
    z-index: -1;
  }
  #koubeibox .koubei .koubei-content .product-Content-Top .promBanner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: url("https://yanxuan.nosdn.127.net/73de0050620397b41099c356292b28c8.png") no-repeat;
  }
  #koubeibox .koubei .koubei-content .product-Content-Top .promBanner .promBanner-left {
    padding-left: 8px;
    padding-right: 14px;
    margin-top: -6px;
    height: 36px;
    float: left;
    color: white;
    background: url("https://yanxuan.nosdn.127.net/ce3597696f4c886d1d81a7d94f8cfe6e.png?quality=95&type=webp&imageView") no-repeat -435px 0px;
  }
  #koubeibox .koubei .koubei-content .product-Content-Top .promBanner .promBanner-left div:nth-child(1) {
    font-size: 12px;
    height: 15px;
    line-height: 1;
    margin-top: 5px;
    text-align: center;
  }
  #koubeibox .koubei .koubei-content .product-Content-Top .promBanner .promBanner-left div:nth-child(2) {
    padding-left: 3px;
    font-size: 12px;
  }
  #koubeibox .koubei .koubei-content .product-Content-Top .promBanner .promBanner-left div:nth-child(2) span {
    font-size: 14px;
    height: 20px;
    line-height: 14px;
    margin-top: -1px;
    font-weight: 700;
  }
  #koubeibox .koubei .koubei-content .product-Content-Top .promBanner .promBanner-right {
    float: left;
    color: #fff;
    text-align: left;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    font-weight: 700;
    margin-left: 5px;
  }
  #koubeibox .koubei .koubei-content .product-Content-Botton {
    margin-top: 5px;
    margin-bottom: 50px;
  }
  #koubeibox .koubei .koubei-content .product-Content-Botton div:nth-child(1) {
    text-align: center;
  }
  #koubeibox .koubei .koubei-content .product-Content-Botton div:nth-child(1) span {
    margin-left: 6px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    color: #fff;
    padding: 0 5px;
    font-size: 12px;
    background: #e36844;
  }
  #koubeibox .koubei .koubei-content .product-Content-Botton h4 {
    width: 166px;
    margin: 0 auto 4px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  #koubeibox .koubei .koubei-content .product-Content-Botton h4 a {
    margin-top: 5px;
    text-align: center;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
  #koubeibox .koubei .koubei-content .product-Content-Botton h4 a span {
    font-size: 14px;
    color: black;
    display: block;
    font-weight: bold;
  }
  #koubeibox .koubei .koubei-content .product-Content-Botton p {
    text-align: center;
  }
  #koubeibox .koubei .koubei-content .product-Content-Botton p span:nth-child(1) {
    display: inline-block;
    line-height: 13px;
    height: 13px;
    font-size: 13px;
    color: #d4282d;
  }
  #koubeibox .koubei .koubei-content .product-Content-Botton p span:nth-child(2) {
    display: inline-block;
    color: #999;
    line-height: 12px;
    height: 12px;
    font-size: 12px;
  }
  #koubeibox .koubei .koubei-content li:nth-child(4n) {
    margin-right: 0;
  }
  #koubeibox .koubei .pagelist {
    overflow: hidden;
    clear: both;
    width: 1090px;
    margin: 0 auto;
    text-align: right;
    padding-right: 20px;
  }
  #koubeibox .koubei .pagelist a {
    text-decoration: none;
  }
  #koubeibox .koubei .pagelist .m-style {
    float: right;
    text-align: center;
  }
  #koubeibox .koubei .pagelist .m-style:before,
  #koubeibox .koubei .pagelist .m-style:after {
    content: "";
    display: table;
  }
  #koubeibox .koubei .pagelist .m-style:after {
    clear: both;
    overflow: hidden;
  }
  #koubeibox .koubei .pagelist .m-style span {
    float: left;
    margin: 0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    color: #bdbdbd;
    font-size: 14px;
  }
  #koubeibox .koubei .pagelist .m-style .active {
    float: left;
    margin: 0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #c2b9bc;
    color: #fff;
    font-size: 14px;
    border: 1px solid #c2b9bc;
  }
  #koubeibox .koubei .pagelist .m-style a {
    float: left;
    margin: 0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #fff;
    border: 1px solid #ebebeb;
    color: #bdbdbd;
    font-size: 14px;
  }
  #koubeibox .koubei .pagelist .m-style a:hover {
    color: #fff;
    background: #c2b9bc;
  }
  #koubeibox .koubei .pagelist .m-style .next,
  #koubeibox .koubei .pagelist .m-style .prev {
    font-family: "Simsun";
    font-size: 16px;
    font-weight: bold;
    width: 80px;
  }
  #koubeibox .koubei .pagelist .now,
  #koubeibox .koubei .pagelist .count {
    padding: 0 5px;
    color: #f00;
  }
  #koubeibox .koubei .pagelist .eg img {
    max-width: 800px;
    min-height: 500px;
  }
  #koubeibox .koubei .pagelist input {
    float: left;
    margin: 0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background: #fff;
    border: 1px solid #ebebeb;
    outline: none;
    color: #bdbdbd;
    font-size: 14px;
  }