@charset "utf-8";
@mixin banxin {
    margin: 0 auto;
    width: 1090px;
}
@import "header";
@import "footer";


.details {
    margin: 30px auto 0;
    width: 1090px;

    overflow: hidden;
    .details-left {
        width: 428px;
        float: left;
        .details-left-top {
            height: 428px;
            width: 428px;
            background: #ddd;
            position: relative;
            // 图片
            img {
                height: 428px;
                width: 428px;
            }
            // 小黄色框框
            #sf {
                width: 250px;
                height: 250px;
                background: orange;
                opacity: 0.3;
                position: absolute;
                left: 0px;
                top: 0px;
                visibility: hidden;
            }
            // 大放大镜区域
            #bf {
                width: 400px;
                height: 400px;
                border: 1px solid #000;
                overflow: hidden;
                position: absolute;
                visibility: hidden;
                z-index: 100;
                left: 440px;
                top: 0px;
                // 大图片
                img {
                    position: absolute;
                    width: 800px;
                    height: 800px;
                }
            }
        }
        .details-left-buttom {
            position: relative;
            height: 100px;
            width: 100%;
            overflow: hidden;
            a {
                width: 10px;
                height: 54px;
                border: 1px solid #ccc;
                text-decoration: none;
                line-height: 56px;
                text-align: center;
                background: #fff;
                position: absolute;
                z-index: 3;
                top: 16px;
                &:nth-child(1) {
                    left: 0;
                }
                &:nth-child(3) {
                    right: 0;
                }
            }
            ul {
                width: 810px;
                margin-top: 10px;
                position: absolute;
                margin-left: 12px;
                li {
                    float: left;
                    vertical-align: middle;
                    margin-right: 8px;
                    height: 76px;
                    width: 76px;

                    img {
                        width: 76px;
                        height: 76px;
                    }
                }
            }
        }
    }
    .details-right {
        width: 620px;
        margin-left: 42px;

        float: left;
        // 标题
        .title {
            font-size: 20px;
            font-weight: 700;
            line-height: 20px;
        }
        // 小标题
        p:nth-child(2) {
            font-size: 14px;
            line-height: 20px;
            color: #999;
            margin-top: 10px;
        }
    }
}

// 详情部分 包含价格
.product {
    background-color: #f5f3ef;
    border-top: 1px dotted #dedede;
    border-bottom: 1px dotted #dedede;
    padding: 10px 0 10px 13px;
    line-height: 24px;
    // 价格

    .price {
        > span:nth-child(1) {
            float: left;
            width: 55px;
            font-size: 13px;
            color: #666;
            margin-top: 8px;
        }
        overflow: hidden;
        div {
            float: left;
            font-size: 18px;
            font-weight: 700;
            margin-left: 0;
            height: 30px;
            color: #d7282d;
            span:nth-child(2) {
                font-size: 28px;
                line-height: 30px;
                margin-left: 2px;
            }
        }
    }

    // 促销
    .zuxiao {
        > span:nth-child(1) {
            display: inline-block;
            width: 55px;
            font-size: 13px;
            color: #666;
            margin-top: 8px;
        }
        span:nth-child(2) {
            display: inline-block;
            height: 20px;
            line-height: 20px;
            color: #fff !important;
            padding: 0 5px;
            font-size: 12px;
            background-color: #e36844;
        }
        span:nth-child(3) {
            line-height: 28px;
            color: #333;
            font-size: 13px;
        }
    }
    .gouwufan {
        span {
            font-size: 13px;
            display: inline-block;
        }
        span:nth-child(1) {
            width: 55px;
            color: #666;
        }
        span:nth-child(2) {
            line-height: 24px;

            color: #666;
        }
        span:nth-child(3) {
            color: #c43c3b;
            margin-right: 4px;
            margin-left: 2px;
        }
    }
    hr {
        margin: 10px 20px 10px 10px;
        overflow: hidden;
        border: none;
        height: 1px;
        border-bottom: 1px dashed #d2d2d2;
    }
    .fuwu {
        font-size: 13px;
        > span:nth-child(1) {
            width: 55px;
            color: #666;
            display: inline-block;
            vertical-align: top;
        }
        div {
            vertical-align: top;
            width: 500px;
            display: inline-block;
            span {
                display: inline-block;
                line-height: 20px;
                color: #666;
            }
        }
    }
}
// 数量
.number {
    margin-top: 20px;
    overflow: hidden;
    span:nth-child(1) {
        float: left;
        font-size: 13px;
        color: #666;
        width: 54px;
        margin: 10px 0 0 10px;
    }
    > div {
        border: 1px solid #ddd;
        overflow: hidden;
        width: 138px;
        .jianhao {
            position: relative;
            float: left;
            width: 36px;
            height: 30px;
            line-height: 28px;
            background: #fff;
            border-right: 1px solid #ddd;
            i {
                background: #d3d3d3;
                height: 2px;
                width: 10px;
                overflow: hidden;
                position: absolute;
                top: 15px;
                left: 12px;
            }
        }
        // input框
        input {
            border: none;
            width: 60px;
            margin: 0;
            font-size: 12px;
            text-align: center;
            color: #333;
            height: 28px;
            line-height: 28px;
            background: #fff;
            float: left;
            outline: 0;
        }
        .jiahao {
            position: relative;
            float: left;
            width: 36px;
            height: 30px;
            line-height: 28px;
            background: #fff;
            border-left: 1px solid #ddd;
            i {
                background: #d3d3d3;
                height: 2px;
                width: 10px;
                overflow: hidden;
                position: absolute;

                &:nth-child(1) {
                    top: 15px;
                    left: 12px;
                }
                &:nth-child(2) {
                    top: 15px;
                    left: 12px;
                    transform: rotate(90deg);
                }
            }
        }
    }
}
//按钮
.btn {
    margin-left: 10px;
    margin-top: 30px;
    // 立即购买
    div:nth-child(1) {
        cursor: pointer;
        text-align: center;
        width: 168px;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        color: #b4a078;
        border: 1px solid #b4a078;
        background-color: #f5f3ef;
        vertical-align: middle;
        display: inline-block;
    }
    // 加入购物车
    a:nth-child(2) {
        cursor: pointer;
        i {
            display: inline-block;
            background: url(../img/icon4.png) no-repeat;
            margin: 12px 8px 0 0;
            background-position: 0 -68px;
            height: 21px;
            width: 21px;
            vertical-align: top;
        }
        span {
            display: inline-block;
            font-size: 18px;
            line-height: 50px;
            vertical-align: top;
        }
        text-align: center;
        width: 168px;
        height: 50px;
        color: white;
        border: 1px solid #b4a078;
        background-color: #b4a078;
        vertical-align: middle;
        display: inline-block;
        margin-left: 10px;
    }
}